<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets'">List of Vets....</h2>
    <!--/*@thymesVar id="vet" type="io.factorialsystems.faspetclinic.data.model.Vet"*/-->

    <table class="table table-striped">
        <thead>
        <tr>Id</tr>
        <tr>First Name</tr>
        <tr>Last Name</tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.id}">Id</td>
            <td th:text="${vet?.firstName}">Name</td>
            <td th:text="${vet?.lastName}">LastName</td>
        </tr>
        </tbody>
    </table>


</body>
</html>
/,
